.App {
  text-align: center;
  height: 2000px;
}

div {
  height: 800px;
  text-align: center;
}

button {
  padding: 30px;
}
.dark {
  background-color: #222;
}
.white {
  background-color: white;
}
