.main_container {
  padding: 5px 15px;
  margin: 10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px 2px 2px 6px;
  border-color: rgb(255, 238, 0);
}
.buttons_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.button {
  width: 30%;
  height: 30px;
  font-size: 16px;
  background-color: gray;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
}
